absl-py==2.1.0
bpy==4.3.0
certifi==2025.1.31
charset-normalizer==3.4.1
coacd==1.0.5
Cython==3.0.11
etils==1.11.0
fsspec==2025.2.0
glfw==2.8.0
idna==3.10
importlib_resources==6.5.2
mujoco==3.2.7
numpy==2.2.2
packaging==24.2
plotly==6.0.0
pybind11==2.13.6
PyOpenGL==3.1.9
random_events==4.1.2
requests==2.32.3
setuptools-scm==8.2.0
sortedcontainers==2.4.0
tqdm==4.67.1
trimesh==4.6.2
typing_extensions==4.12.2
urllib3==2.3.0
zipp==3.21.0
zstandard==0.23.0
